<%- include('../partials/header') %>

<section style="background-color: #e7effd;">
    <div class="container my-5 py-5 text-dark">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>This is posts/edit</h2>

                <% if (user && user._id.equals(post.user._id)) { %>
                    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                        <p>Prompt Content: <%= post.prompt.content %></p>
                        <input type="hidden" name="prompt" value="<%= prompt._id %>">
                        <input type="hidden" name="user" value="<%= user._id %>">
                        <div class="mb-3">
                            <label for="postTitle" class="form-label">SKRBL Title</label>
                            <input type="text" class="form-control" id="postTitle" name="title" value="<%= post.title %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="postContent" class="form-label">SKRBL Content</label>
                            <textarea class="form-control" id="postContent" name="content" rows="5"><%= post.content %></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Update SKRBL</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>