<%- include('../partials/header') %>

<h1>THIS IS POSTS/INDEX</h1>

<div>
    <%posts.forEach(function(p) { %>
        <h2><a href="/posts/<%= p._id %>"> <%= p.title %> </a> </h2>
        <h5>SKRBLed by <%=p.user.name%></h5>
        <p><%= p.content %></p>
    <% }) %>
</div>

<%- include('../partials/footer') %>