<%- include('../partials/header') %>

<section style="background-color: #e7effd;">
    <div class="container my-5 py-5 text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-11 col-lg-9 col-xl-7">
                <% posts.reverse().forEach(function(p) { %> 
                    <div class="d-flex flex-start mb-4">
                        <%if (p.user.avatar) {%>
                        <img class="rounded-circle shadow-1-strong me-3" src="/uploads/<%= p.user.avatar %>" alt="avatar" width="65" height="65" />
                        <% } else {%>
                            <img class="rounded-circle shadow-1-strong me-3" src="<%= p.user.avatar %>" alt="avatar" width="65" height="65" />
                            <% } %>
                        <div class="card w-100">
                            <div class="card-body p-4">
                                <div>
                                    <h2><%= p.title %></h2>
                                    <h6>SKRBLed by
                                        <a href= "/users/<%= p.user._id %>"><%= p.user.name %></a>
                                    </h6>
                                    <p class="small">
                                        <% const localDate = new Date(p.createdAt); %>
                                        <%= localDate.toLocaleDateString() %> <%= localDate.toLocaleTimeString() %>
                                    </p>
                                    <% const limitedContent = p.content.length > 25 ? p.content.slice(0, 25) + '...' : p.content; %>
                                    <p><%= limitedContent %></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="/posts/<%= p._id %>" class="link-muted"><i class="fas fa-reply me-1"></i> Comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>