<%- include('../partials/header') %>

<h1>THIS IS POSTS/NEW</h1>


<form method="POST" action="/posts">
    <p>Prompt Content: <%= promptContent %></p>
    <input type="hidden" name = "prompt" value="<%= prompt._id%>">
    <input type="hidden" name="user" value="<%= user._id %>">
    <label> Give your SKRBL a Title:
        <input type="text" name="title">
    </label>
    <textarea name="content" placeholder="SKRBL here!"></textarea>    
        <button type="submit">Create Post</button>
</form>

<%- include('../partials/footer') %>