<%- include('../partials/header') %>
<h1>"THIS IS POSTS/SHOW"</h1>

<h2>Prompted by:</h2>
<p><%= post.prompt.content %></p>

<section style="background-color: #e7effd;">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-start align-items-center">
                            <% if (post.user.avatar) { %>
                                <img class="rounded-circle shadow-1-strong me-3" src="/uploads/<%= post.user.avatar %>" alt="avatar" width="60" height="60" />
                            <% } else { %>
                                <img class="rounded-circle shadow-1-strong me-3" src="<%= post.user.avatar %>" alt="avatar" width="60" height="60" />
                            <% } %>
                            <div>
                                <h6 class="fw-bold mb-1" style="color: #00B7FF;"><%= post.user.name %></h6>
                                <h2><%= post.title %></h2> 
                                <p class="text-muted small mb-0"></p>
                            </div>
                        </div>
                        <br>
                        <% if (user && user._id.equals(post.user._id)) { %>
                            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                <button type="submit">DELETE</button>
                            </form>
                            <a href="/posts/<%= post._id %>/edit">Edit post</a>
                        <% } %>
                        <br>
                        <p class="mt-3 mb-4 pb-2">
                            <p><%= post.content %></p>
                        </p>
                    </div>
                    <div class="card-footer py-3 border-0" style="background-color: #598de7;">
                        <div class="d-flex flex-start w-100">
                            <div class="form-outline w-100">
                                <form action="/posts/<%= post._id %>/comments" method="POST">
                                    <textarea class="form-control" id="comment-text" name="content" rows="4" style="background: #fff;"></textarea>
                            </div>
                        </div>
                        <div class="float-end mt-2 pt-1">
                            <button type="submit">Comment</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% if (post.comments.length) { %>
    <% post.comments.forEach(function(c) { %>
        <section style="background-color: #e7effd;">
            <div class="container my-5 py-5 text-dark">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-11 col-lg-9 col-xl-7">
                        <div class="d-flex flex-start mb-4">
                            <% if (c.userAvatar) { %>
                                <img class="rounded-circle shadow-1-strong me-3" src="/uploads/<%= c.userAvatar %>" alt="avatar" width="65" height="65" />
                            <% } else { %>
                                <img class="rounded-circle shadow-1-strong me-3" src="<%= c.userAvatar %>" alt="avatar" width="65" height="65" />
                            <% } %>
                            <div class="card w-100">
                                <div class="card-body p-4">
                                    <div>
                                        <h5><%= c.userName %></h5>
                                        <% if (user && user._id.equals(c.user._id)) { %>
                                            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                                <button type="submit">X</button>
                                            </form>
                                        <% } %>
                                        <p><%= c.content %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <% }); %>
<% } %>


<%- include('../partials/footer') %>